{
    "advertise_addr": "{{ do_private_ip_address }}",
    "bind_addr": "{{ do_private_ip_address }}",
    "bootstrap_expect": {{ consul_bootstrap_expect }},
    "client_addr": "0.0.0.0",
    "datacenter": "DC1",
    "data_dir": "{{ consul_data_dir }}",
    "domain": "consul",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{ vault.consul.psk }}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "retry_join": [
    {%- for host in (groups['consul_server'] | default([]) | unique | sort) -%}
    "{{ hostvars[host].do_name }}"{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}

    ],
    "server": true,
    "start_join": [
    {%- for host in (groups['consul_server'] | default([]) | unique | sort) -%}
        "{{ hostvars[host].do_name }}"
        {%- if not loop.last %},{%- endif -%}
    {%- endfor -%}
    ],
    "ui": {{ consul_ui }},
    "telemetry": {
        "prometheus_retention_time": "480h",
        "disable_hostname": true
    }
}
